.reseaux{
	text-align: center;
}

.fa-instagram-square{
	color: #f21063;
	font-size: 84PX;
}

.fa-facebook-square{
	color: #f21063;
	font-size: 84PX;
}

.fa-instagram-square:hover {
	color:  #f28818;
	background-color: white;
	transition: 0.5s;
}
.fa-facebook-square:hover {
	color:  #f28818;
	background-color: white;
	transition: 0.5s;
}