.cards{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    margin:  48px 0px;
    font-family: 'Poppins', sans-serif;
}
.card{
	padding: 16px;
	text-align: center;
	border-radius: 8px;
	box-shadow: #00000040 2px 2px 8px 1px;
	justify-self: center;
	margin-bottom: 8px;

}
.card img{
	width: 250px;
}

@media (min-width: 992px) {
.cards {
	grid-template-columns: 1fr 1fr;
}
}

@media (min-width: 1200px) {
	.cards {
	grid-template-columns: 1fr 1fr 1fr;
}
}
