.navbar {
	position: static;
	top: 0;
	background-color: white;
}

.navbar img{
	width:  260px;

}

.nav-list {
	padding: 1rem 0;
	display:  flex;
	margin:  0;
	justify-content: flex-end;
	align-items:  center;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;

}

.nav-item {
	margin-right: 2rem;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 1.2px;

}

.nav-item a{
	color: black;
	text-decoration: none;
}

